# DataFrames
A DataFrame is a two-dimensional, size-mutable, potentially heterogeneous(ability to hold elements of different data types within the same structure) tabular data structure in the Pandas library

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [2]:
import pandas as pd
import numpy as np

In [12]:
from numpy.random import randn
np.random.seed(101)

By setting the seed, you make sure that every time you run your code, the random numbers generated will be the same.

In [16]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [17]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [38]:
df = pd.DataFrame(randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.586847 -1.621348  0.677535  0.026105
B -1.678284  0.333973 -0.532471  2.117727
C  0.197524  2.302987  0.729024 -0.863091
D  0.305632  0.243178  0.864165 -1.560931
E -0.251897 -0.578120  0.236996  0.200780

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [187]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [188]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [189]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

In [21]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [31]:
df['new'] = df['W'] + df['Y']

In [24]:
df

          W         X         Y         Z       new
A  1.606780 -1.115710 -1.385379 -1.329660  0.221401
B  0.041460 -0.411055 -0.771329  0.110477 -0.729869
C -0.804652  0.253548  0.649148  0.358941 -0.155504
D -1.080471  0.902398  0.161781  0.833029 -0.918690
E  0.975720 -0.388239  0.783316 -0.708954  1.759036

** Removing Columns**

In [25]:
df.drop('new',axis=1)

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [29]:
# Not inplace unless specified!
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [32]:
df.drop('new',axis=1,inplace=True)
#inplace=True: This parameter determines whether the operation modifies the original DataFrame directly.

In [196]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [197]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [198]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

Or select based off of position instead of label

In [199]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [200]:
df.loc['B','Y']

-0.84807698340363147

In [201]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [35]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [203]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [204]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [205]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [206]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [207]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

In [40]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [41]:
df

          W         X         Y         Z
A  0.586847 -1.621348  0.677535  0.026105
B -1.678284  0.333973 -0.532471  2.117727
C  0.197524  2.302987  0.729024 -0.863091
D  0.305632  0.243178  0.864165 -1.560931
E -0.251897 -0.578120  0.236996  0.200780

In [42]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  0.586847 -1.621348  0.677535  0.026105
1     B -1.678284  0.333973 -0.532471  2.117727
2     C  0.197524  2.302987  0.729024 -0.863091
3     D  0.305632  0.243178  0.864165 -1.560931
4     E -0.251897 -0.578120  0.236996  0.200780

In [43]:
newind = 'CA NY WY OR CO'.split()

In [44]:
df['States'] = newind

In [45]:
df

          W         X         Y         Z States
A  0.586847 -1.621348  0.677535  0.026105     CA
B -1.678284  0.333973 -0.532471  2.117727     NY
C  0.197524  2.302987  0.729024 -0.863091     WY
D  0.305632  0.243178  0.864165 -1.560931     OR
E -0.251897 -0.578120  0.236996  0.200780     CO

In [46]:
df.set_index('States')

               W         X         Y         Z
States
CA      0.586847 -1.621348  0.677535  0.026105
NY     -1.678284  0.333973 -0.532471  2.117727
WY      0.197524  2.302987  0.729024 -0.863091
OR      0.305632  0.243178  0.864165 -1.560931
CO     -0.251897 -0.578120  0.236996  0.200780

In [215]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [47]:
df.set_index('States',inplace=True)

In [48]:
df

               W         X         Y         Z
States
CA      0.586847 -1.621348  0.677535  0.026105
NY     -1.678284  0.333973 -0.532471  2.117727
WY      0.197524  2.302987  0.729024 -0.863091
OR      0.305632  0.243178  0.864165 -1.560931
CO     -0.251897 -0.578120  0.236996  0.200780

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [94]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index_1 = pd.MultiIndex.from_tuples(hier_index)

In [95]:
hier_index
# zip expression is used to pair elements from two or more iterables (like lists or tuples) into a single iterable of tuples

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [96]:
hier_index_1

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [97]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index_1,columns=['A','B'])
df

             A         B
G1 1 -0.279510  1.062710
   2  1.752014  0.695547
   3  0.153661  0.167638
G2 1 -0.765930  0.962299
   2  0.902826 -0.537909
   3 -1.549671  0.435253

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [98]:
df.loc['G1']

          A         B
1 -0.279510  1.062710
2  1.752014  0.695547
3  0.153661  0.167638

In [99]:
df.loc['G1'].loc[1]

A   -0.27951
B    1.06271
Name: 1, dtype: float64

In [103]:
df.index.names
# Frozen lists = unchanged lists

FrozenList(['Group', 'Num'])

In [104]:
df.index.names = ['Group','Num']

In [105]:
df

                  A         B
Group Num
G1    1   -0.279510  1.062710
      2    1.752014  0.695547
      3    0.153661  0.167638
G2    1   -0.765930  0.962299
      2    0.902826 -0.537909
      3   -1.549671  0.435253

### Cross Section

way to access data along a specific axis, either rows or columns, based on a key or label

In [112]:
df.xs('G1')

            A         B
Num
1   -0.279510  1.062710
2    1.752014  0.695547
3    0.153661  0.167638

In [113]:
df.xs(['G1',1])

TypeError: list keys are not supported in xs, pass a tuple instead

In [118]:
df.xs(('G1',1))

A   -0.27951
B    1.06271
Name: (G1, 1), dtype: float64

In [114]:
df.xs(1,level='Num')

             A         B
Group
G1    -0.27951  1.062710
G2    -0.76593  0.962299